# Case3-1: マジックコマンドを自作してみる

In [1]:
import functools
from IPython.core.magic import register_line_magic, register_cell_magic
from IPython.display import IFrame
import pandas as pd
import yaml
import ast
from io import StringIO

## line magic

In [2]:
@register_line_magic
def ms(code):
    url = "https://www.morningstar.co.jp/StockInfo/info/snap/{0}".format(code)
    print(url)
    return IFrame(url, "100%", 600)

In [3]:
%ms 9701

https://www.morningstar.co.jp/StockInfo/info/snap/9701

## cell magic

In [4]:
@register_cell_magic
def csv(line, cell):
    options = dict(ast.literal_eval(line))
    sio = StringIO(cell)
    return pd.read_csv(sio, **options)

In [5]:
@register_cell_magic
def yml(line, cell):
    sio = StringIO(cell)
    return pd.DataFrame(yaml.load(sio))

In [6]:
@register_cell_magic
def json(line, cell):
    sio = StringIO(cell)
    return pd.read_json(sio)

### csv形式のデータをDataFrameに変換

> 日経平均プロフィル  
> 指数一覧  
> http://indexes.nikkei.co.jp/nkave/index

pandas.read_html()では読み込めないがコピペすることでDataFrameとして取り込める

In [7]:
%%csv {'header': None}
日経平均トータルリターン・インデックス25,794.26+169.49 (+0.66%)2016.09.05(終値)
日経平均ストラテジー・インデックス・シリーズ
日経平均カバードコール・インデックス15,185.70+104.27 (+0.69%)2016.09.05(終値)
日経平均リスクコントロール・インデックス16,062.55+66.65 (+0.42%)2016.09.05(終値)
日経平均レバレッジ・インデックス10,943.85+142.88 (+1.32%)2016.09.05(終値)
日経平均インバース・インデックス2,622.90-17.46 (-0.66%)2016.09.05(終値)
日経平均ダブルインバース・インデックス2,914.46-39.07 (-1.32%)2016.09.05(終値)

                        0                                     1
0   日経平均トータルリターン・インデックス25  794.26+169.49 (+0.66%)2016.09.05(終値)
1  日経平均ストラテジー・インデックス・シリーズ                                   NaN
2    日経平均カバードコール・インデックス15  185.70+104.27 (+0.69%)2016.09.05(終値)
3  日経平均リスクコントロール・インデックス16   062.55+66.65 (+0.42%)2016.09.05(終値)
4      日経平均レバレッジ・インデックス10  943.85+142.88 (+1.32%)2016.09.05(終値)
5       日経平均インバース・インデックス2   622.90-17.46 (-0.66%)2016.09.05(終値)
6    日経平均ダブルインバース・インデックス2   914.46-39.07 (-1.32%)2016.09.05(終値)

_ に直前の結果が格納されている

In [8]:
df = _

In [9]:
df.head()

                        0                                     1
0   日経平均トータルリターン・インデックス25  794.26+169.49 (+0.66%)2016.09.05(終値)
1  日経平均ストラテジー・インデックス・シリーズ                                   NaN
2    日経平均カバードコール・インデックス15  185.70+104.27 (+0.69%)2016.09.05(終値)
3  日経平均リスクコントロール・インデックス16   062.55+66.65 (+0.42%)2016.09.05(終値)
4      日経平均レバレッジ・インデックス10  943.85+142.88 (+1.32%)2016.09.05(終値)

### json形式のデータをDataFrameに変換

> * jsonデータのurl  
> https://www.google.com/finance/info?q=NASDAQ%3aGOOG

In [10]:
%%json
[ { "id": "304466804484872" ,"t" : "GOOG" ,"e" : "NASDAQ" ,"l" : "767.05" ,"l_fix" : "767.05" ,"l_cur" : "767.05" ,"s": "1" ,"ltt":"4:00PM EDT" ,"lt" : "Aug 31, 4:00PM EDT" ,"lt_dts" : "2016-08-31T16:00:02Z" ,"c" : "0.00" ,"c_fix" : "0.00" ,"cp" : "0.00" ,"cp_fix" : "0.00" ,"ccol" : "chb" ,"pcls_fix" : "767.05" ,"el": "767.89" ,"el_fix": "767.89" ,"el_cur": "767.89" ,"elt" : "Sep 1, 9:24AM EDT" ,"ec" : "+0.84" ,"ec_fix" : "0.84" ,"ecp" : "0.11" ,"ecp_fix" : "0.11" ,"eccol" : "chg" ,"div" : "" ,"yld" : "" } ]

,c,c_fix,ccol,cp,cp_fix,div,e,ec,ec_fix,eccol,...,l,l_cur,l_fix,lt,lt_dts,ltt,pcls_fix,s,t,yld
0,0,0,chb,0,0,,NASDAQ,0.84,0.84,chg,...,767.05,767.05,767.05,"Aug 31, 4:00PM EDT",2016-08-31T16:00:02Z,4:00PM EDT,767.05,1,GOOG,

In [11]:
_.T

                             0
c                            0
c_fix                        0
ccol                       chb
cp                           0
cp_fix                       0
div
e                       NASDAQ
ec                        0.84
ec_fix                    0.84
eccol                      chg
ecp                       0.11
ecp_fix                   0.11
el                      767.89
el_cur                  767.89
el_fix                  767.89
elt          Sep 1, 9:24AM EDT
id             304466804484872
l                       767.05
l_cur                   767.05
l_fix                   767.05
lt          Aug 31, 4:00PM EDT
lt_dts    2016-08-31T16:00:02Z
ltt                 4:00PM EDT
pcls_fix                767.05
s                            1
t                         GOOG
yld

### yaml形式のデータをDataFrameに変換

[Case2-3](Case2-3.ipynb)のyamlデータ

In [12]:
%%yml
1970-01-01:
  date: 1970-01-01
  week: 木
  week_en: Thursday
  name: 元日
  name_en: "New Year's Day"

1970-01-15:
  date: 1970-01-15
  week: 木
  week_en: Thursday
  name: 成人の日
  name_en: "Coming of Age Day"

1970-02-11:
  date: 1970-02-11
  week: 水
  week_en: Wednesday
  name: 建国記念の日
  name_en: "National Foundation Day"

             1970-01-01         1970-01-15               1970-02-11
date         1970-01-01         1970-01-15               1970-02-11
name                 元日               成人の日                   建国記念の日
name_en  New Year's Day  Coming of Age Day  National Foundation Day
week                  木                  木                        水
week_en        Thursday           Thursday                Wednesday

In [13]:
_.T

                  date    name                  name_en week    week_en
1970-01-01  1970-01-01      元日           New Year's Day    木   Thursday
1970-01-15  1970-01-15    成人の日        Coming of Age Day    木   Thursday
1970-02-11  1970-02-11  建国記念の日  National Foundation Day    水  Wednesday