# Case3-1: マジックコマンドを自作してみる

In [1]:
import functools
from IPython.core.magic import register_line_magic, register_cell_magic
from IPython.display import IFrame
import pandas as pd
import yaml
import xmltodict
try:
    from StringIO import StringIO # Python2
except Exception:
    from io import StringIO # Python3

## line magic

In [3]:
@register_line_magic
def ms(code):
    url = "https://www.morningstar.co.jp/StockInfo/info/snap/{0}".format(code)
    print(url)
    return IFrame(url, "100%", 600)

In [4]:
%ms 9783

https://www.morningstar.co.jp/StockInfo/info/snap/9783

## cell magic

In [3]:
@register_cell_magic
def csv(line, cell):
    sio = StringIO(cell)
    if line == 'transpose':
        return pd.read_csv(sio).T
    else:
        return pd.read_csv(sio)

In [4]:
@register_cell_magic
def yml(line, cell):
    sio = StringIO(cell)
    if line == 'transpose':
        return pd.DataFrame(yaml.load(sio)).T
    else:
        return pd.DataFrame(yaml.load(sio))

In [5]:
@register_cell_magic
def json(line, cell):
    sio = StringIO(cell)
    if line == 'transpose':
        return pd.read_json(sio).T
    else:
        return pd.read_json(sio)

### csv形式のデータをDataFrameに変換

In [6]:
%%csv
col1,col2,col3
0,1,2
3,4,5
7,8,9

   col1  col2  col3
0     0     1     2
1     3     4     5
2     7     8     9

In [7]:
%%csv transpose
col1,col2,col3
0,1,2
3,4,5
7,8,9

      0  1  2
col1  0  3  7
col2  1  4  8
col3  2  5  9

_ に直前の結果が格納されている

In [8]:
df = _

In [9]:
df

      0  1  2
col1  0  3  7
col2  1  4  8
col3  2  5  9

In [ ]:
### json形式のデータをDataFrameに変換

> * jsonデータのurl  
> https://www.google.com/finance/info?q=NASDAQ%3aGOOG

In [9]:
%%json transpose
[ { "id": "304466804484872" ,"t" : "GOOG" ,"e" : "NASDAQ" ,"l" : "767.05" ,"l_fix" : "767.05" ,"l_cur" : "767.05" ,"s": "1" ,"ltt":"4:00PM EDT" ,"lt" : "Aug 31, 4:00PM EDT" ,"lt_dts" : "2016-08-31T16:00:02Z" ,"c" : "0.00" ,"c_fix" : "0.00" ,"cp" : "0.00" ,"cp_fix" : "0.00" ,"ccol" : "chb" ,"pcls_fix" : "767.05" ,"el": "767.89" ,"el_fix": "767.89" ,"el_cur": "767.89" ,"elt" : "Sep 1, 9:24AM EDT" ,"ec" : "+0.84" ,"ec_fix" : "0.84" ,"ecp" : "0.11" ,"ecp_fix" : "0.11" ,"eccol" : "chg" ,"div" : "" ,"yld" : "" } ]

                             0
c                            0
c_fix                        0
ccol                       chb
cp                           0
cp_fix                       0
div
e                       NASDAQ
ec                        0.84
ec_fix                    0.84
eccol                      chg
ecp                       0.11
ecp_fix                   0.11
el                      767.89
el_cur                  767.89
el_fix                  767.89
elt          Sep 1, 9:24AM EDT
id             304466804484872
l                       767.05
l_cur                   767.05
l_fix                   767.05
lt          Aug 31, 4:00PM EDT
lt_dts    2016-08-31T16:00:02Z
ltt                 4:00PM EDT
pcls_fix                767.05
s                            1
t                         GOOG
yld

### yaml形式のデータをDataFrameに変換

[Case2-3](Case2-3.ipynb)のyamlデータ

In [10]:
%%yml transpose
1970-01-01:
  date: 1970-01-01
  week: 木
  week_en: Thursday
  name: 元日
  name_en: "New Year's Day"

1970-01-15:
  date: 1970-01-15
  week: 木
  week_en: Thursday
  name: 成人の日
  name_en: "Coming of Age Day"

1970-02-11:
  date: 1970-02-11
  week: 水
  week_en: Wednesday
  name: 建国記念の日
  name_en: "National Foundation Day"

                  date    name                  name_en week    week_en
1970-01-01  1970-01-01      元日           New Year's Day    木   Thursday
1970-01-15  1970-01-15    成人の日        Coming of Age Day    木   Thursday
1970-02-11  1970-02-11  建国記念の日  National Foundation Day    水  Wednesday